html,body {
    background-color: #d1d7e0;
    font-family: 'Titillium Web', sans-serif;

}

.col-lg-6.intro-content{
    margin-top: 170px;
}

.intro-content h1 {
    font-size: 50px;
    color: #d1d7e0;
}

.intro-content p {
    font-size: 26px;
    margin-top: 20px;
    color: #d1d7e0;

}

.intro-content hr{
    height: 3px;
    width: 100px;
    background-color: #802BB1;
}

.intro-content hr:first-child {
    width: 450px;
}


.col-lg-6.intro-content b{
     font-size: 35px; 
}
.home {
    background-color: #2d283e;
    box-shadow: 0px 4px 5px -3px black;
    width: 100%;
    min-height: 845px;
}


.social-links a li {
    margin-left: 10px;
}

.social-links a:hover {
    cursor: pointer;
    color: white;
    text-shadow: 1px 1px 10px black;
    font-weight: 800;
}

::-webkit-scrollbar {
    width: 10px;

}
::-webkit-scrollbar-thumb {
    background-color: black;
    opacity: 50%;
}

::-webkit-scrollbar-track {
    background-color: lightgray;
}



@media only screen and (max-width: 450px) {
    .App {
        width: 469px;
    }

}