.page-footer {
  background-color: #4c495d;
  box-shadow: inset 1px 1px 5px black;
  min-height: 500px;
}

.page-footer .footer-content, a {
  font-size: 20px;
  color: white;
}

.footer-content {
  margin-top: auto;
}

.page-footer a:hover {
  color: white;
}

.row.justify-content-center.title {
  margin-top: 0px;
}

.row.justify-content-center.title h1 {
  margin-top: 50px;
}

.col-lg-4 {
  margin-top: 120px;
}

.col-lg-7 {
  margin-top: 80px;
}

.col-lg-7 .row {
  justify-content: center;
}

.col-lg-7 .row.resume {
  margin-top: 20px;
}

.col-lg-7 .col-md-2, .col-lg-7 .col-md-2 .fa.fa-github, .col-lg-7 .fa.fa-address-book-o {
  margin: 5px;
  font-size: 50px;
}

.row.resume li .tooltiptext {
  visibility: hidden;
  width: 100px;
  font-size: 10px;
  font-family: 'Titillium Web', sans-serif;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 32%;
  left: 57%;
  ;
  opacity: 0;
  transition: 1s;
}

.row.resume li .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.row.resume li:hover {
  cursor: pointer;
}

.row.resume li:hover .tooltiptext {
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  visibility: visible;
  opacity: 1;
}

.col-lg-7 .col-md-2:hover {
  cursor: pointer;
  text-shadow: currentColor;
  -webkit-animation: random 5s infinite;
  animation: random 5s infinite;
}

.col-lg-4 {
  margin-left: 50px;
}


/* Socials Color Animation */
@keyframes  random {
  15% { text-shadow: 2px 2px 10px  crimson; } 
  30% { text-shadow: 2px 2px 10px purple; } 
  45% { text-shadow: 2px 2px 10px greenyellow; } 
  60% { text-shadow: 2px 2px 10px goldenrod; }
  75% { text-shadow: 2px 2px 10px mediumvioletred; }  
}


/* MEDIA QUERY */

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
  .row.resume li .tooltiptext {
    left: 60%;
  }
}